body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the card.
*/
section {
    width: 25em;
    border-width: 0.01em;
    border-style: solid;
    border-color: grey;
}

img {
    width: 100%;
}

h2, p, button {
    margin: 1em;
}